extends /layout/layout

block content
  .container.mt-5
      h2.text-center.mb-4 Usuarios Registrados
      if customers && customers.length > 0
        table.table.table-striped.table-hover
          thead
            tr
              th ID
              th Nombre
              th Correo Electrónico
              th Direccion 
              th Acciones
          tbody
            each customer in customers  
              tr
                th= customer.id
                th= customer.nombre
                th= customer.email
                th= customer.direccion 
                th.d-flex.justify-content-center.gap-1
                  a.btn.btn-info.btn-sm(href=`/admin/actualizarUsuario/${customer.id}`)
                    i.bi.bi-pencil-square
                  form(action=`/delete/${customer.id}` method="POST" onsubmit="return confirm('¿Estas seguro de eliminar el cliente?')")
                    input(type="hidden" name="_method" value="DELETE")
                    button.btn.btn-danger.btn-sm(type="submit")
                      i.bi.bi-trash 
      else 
        table.table.table-striped.table-hover
          thead
            tr
              th ID
              th Nombre
              th Correo Electrónico
          tbody
            tr 
              td.text-center(colspan="7") La Tabla esta vacia.
